{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-danger text-white">

        <h4>Hapus Barang Masuk</h4>

    </div>

    <div class="card-body">

        <p>

            Yakin ingin menghapus transaksi barang masuk?

        </p>

        <table class="table">

            <tr>

                <th>Product</th>

                <td>{{ stockin.product }}</td>

            </tr>

            <tr>

                <th>Supplier</th>

                <td>{{ stockin.supplier }}</td>

            </tr>

            <tr>

                <th>Jumlah</th>

                <td>{{ stockin.quantity }}</td>

            </tr>

        </table>

        <form method="post">

            {% csrf_token %}

            <button class="btn btn-danger">

                Ya Hapus

            </button>

            <a href="{% url 'stockin_list' %}"
               class="btn btn-secondary">

                Batal

            </a>

        </form>

    </div>

</div>

{% endblock %}